<template id="addresses-tpl">
  <section>
    <h2>Select address</h2>
    <ol>
      <li><a href="#">Address 1</a></li>
      <li><a href="#">Address 2</a></li>
      <li><a href="#">Address 3</a></li>
    </ol>
  </section>
</template>

<script>
  (function(window, document) {
    const ownerDocument = (document._currentScript || document.currentScript).ownerDocument;
    const addressesTpl = ownerDocument.querySelector('#addresses-tpl');

    class Addresses extends HTMLElement {
      createdCallback() {
        const clone = document.importNode(addressesTpl.content, true);
        const root = this.createShadowRoot();
        root.appendChild(clone);
      }
    }

    document.registerElement('appointment-addresses', Addresses);
  })(window, document);
</script>
