<template id="calendar-tpl">
  <section>
    <h2><a href="#"><-</a>Select date and time<a href="#">-></a></h2>
    <input type="date" name="date" id="date">
    <input type="time" name="time" id="time">
  </section>
</template>

<script>
  (function(window, document) {
    const ownerDocument = (document._currentScript || document.currentScript).ownerDocument;
    const calendarTpl = ownerDocument.querySelector('#calendar-tpl');

    class Calendar extends HTMLElement {
      createdCallback() {
        const clone = document.importNode(calendarTpl.content, true);
        const root = this.createShadowRoot();
        root.appendChild(clone);
      }
    }

    document.registerElement('appointment-calendar', Calendar);
  })(window, document);
</script>


