<template id="services-tpl">
  <section>
    <h2><a href="#"><-</a>Select services<a href="#">-></a></h2>
    <ol>
      <li>
        <label for="service1">Service 1</label>
        <input type="checkbox" name="services" id="service1">
      </li>
      <li>
        <label for="service2">Service 2</label>
        <input type="checkbox" name="services" id="service2">
      </li>
      <li>
        <label for="service3">Service 3</label>
        <input type="checkbox" name="services" id="service3">
      </li>
    </ol>
  </section>
</template>

<script>
  (function(window, document) {
    const ownerDocument = (document._currentScript || document.currentScript).ownerDocument;
    const servicesTpl = ownerDocument.querySelector('#services-tpl');

    class Services extends HTMLElement {
      createdCallback() {
        const clone = document.importNode(servicesTpl.content, true);
        const root = this.createShadowRoot();
        root.appendChild(clone);
      }
    }

    document.registerElement('appointment-services', Services);
  })(window, document);
</script>

